<template>
  <section class="section-5">
    <div class="container-fluid">
      <div class="row mx-5">
        <div class="left-accordion col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="accordion" id="accordionExample">
            <div class="single-accordion">
              <div class="accordion-header-1" id="headingTitleone">
                <p>
                  <button type="button" data-toggle="collapse" data-target="#collapseTitleone" aria-expanded="true"
                          aria-controls="collapseTitleone">
                    LATIHAN SOAL ONLINE
                  </button>
                </p>
              </div>
              <div class="accordion-inner">
                <div id="collapseTitleone" class="accordion-body collapse">
                  <div class="single-accordion">
                    <div class="accordion-header" id="headingFour">
                      <p>
                        <button type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                                aria-controls="collapseFour">
                          Latihan Soal CPNS Online
                        </button>
                      </p>
                    </div>
<!--                    <div id="collapseFour" class="accordion-body collapse">-->
<!--                      <div class="accordion-inner">-->
<!--                        &lt;!&ndash; Here we insert another nested accordion &ndash;&gt;-->
<!--                        <div class="accordion" id="accordion2">-->
<!--                          <div class="accordion-group">-->
<!--                            <div class="accordion-heading">-->
<!--                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerOne">-->
<!--                                Kelas 1-->
<!--                              </a>-->
<!--                            </div>-->
<!--                            <div id="collapseInnerOne" class="accordion-body collapse in">-->
<!--                              <div class="accordion-inner">-->
<!--                                <ul>-->
<!--                                  <li><a href="#">Matematika</a></li>-->
<!--                                  <li><a href="#">Bahasa Indonesia</a></li>-->
<!--                                  <li><a href="#">Bahasa Inggris</a></li>-->
<!--                                </ul>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="accordion-group">-->
<!--                            <div class="accordion-heading">-->
<!--                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwo">-->
<!--                                Kelas 2-->
<!--                              </a>-->
<!--                            </div>-->
<!--                            <div id="collapseInnerTwo" class="accordion-body collapse in">-->
<!--                              <div class="accordion-inner">-->
<!--                                <ul>-->
<!--                                  <li><a href="#">Matematika</a></li>-->
<!--                                  <li><a href="#">Bahasa Indonesia</a></li>-->
<!--                                  <li><a href="#">Bahasa Inggris</a></li>-->
<!--                                </ul>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="accordion-group">-->
<!--                            <div class="accordion-heading">-->
<!--                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThree">-->
<!--                                Kelas 3-->
<!--                              </a>-->
<!--                            </div>-->
<!--                            <div id="collapseInnerThree" class="accordion-body collapse in">-->
<!--                              <div class="accordion-inner">-->
<!--                                <ul>-->
<!--                                  <li><a href="#">Matematika</a></li>-->
<!--                                  <li><a href="#">Bahasa Indonesia</a></li>-->
<!--                                  <li><a href="#">Bahasa Inggris</a></li>-->
<!--                                </ul>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="accordion-group">-->
<!--                            <div class="accordion-heading">-->
<!--                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerFour">-->
<!--                                Kelas 4-->
<!--                              </a>-->
<!--                            </div>-->
<!--                            <div id="collapseInnerFour" class="accordion-body collapse in">-->
<!--                              <div class="accordion-inner">-->
<!--                                <ul>-->
<!--                                  <li><a href="#">Matematika</a></li>-->
<!--                                  <li><a href="#">Bahasa Indonesia</a></li>-->
<!--                                  <li><a href="#">Bahasa Inggris</a></li>-->
<!--                                </ul>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="accordion-group">-->
<!--                            <div class="accordion-heading">-->
<!--                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerFive">-->
<!--                                Kelas 5-->
<!--                              </a>-->
<!--                            </div>-->
<!--                            <div id="collapseInnerFive" class="accordion-body collapse in">-->
<!--                              <div class="accordion-inner">-->
<!--                                <ul>-->
<!--                                  <li><a href="#">Matematika</a></li>-->
<!--                                  <li><a href="#">Bahasa Indonesia</a></li>-->
<!--                                  <li><a href="#">Bahasa Inggris</a></li>-->
<!--                                </ul>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="accordion-group">-->
<!--                            <div class="accordion-heading">-->
<!--                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerSix">-->
<!--                                Kelas 6-->
<!--                              </a>-->
<!--                            </div>-->
<!--                            <div id="collapseInnerSix" class="accordion-body collapse in">-->
<!--                              <div class="accordion-inner">-->
<!--                                <ul>-->
<!--                                  <li><a href="#">Matematika</a></li>-->
<!--                                  <li><a href="#">Bahasa Indonesia</a></li>-->
<!--                                  <li><a href="#">Bahasa Inggris</a></li>-->
<!--                                </ul>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="accordion-group">-->
<!--                            <div class="accordion-heading">-->
<!--                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerUNSD1">-->
<!--                                UN-->
<!--                              </a>-->
<!--                            </div>-->
<!--                            <div id="collapseInnerUNSD1" class="accordion-body collapse in">-->
<!--                              <div class="accordion-inner">-->
<!--                                <ul>-->
<!--                                  <li><a href="#">Matematika</a></li>-->
<!--                                  <li><a href="#">Bahasa Indonesia</a></li>-->
<!--                                  <li><a href="#">Bahasa Inggris</a></li>-->
<!--                                </ul>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Inner accordion ends here &ndash;&gt;-->
<!--                      </div>-->
<!--                    </div>-->
                  </div>
<!--                  1.  Latihan Soal Psikotes Online-->
                  <div class="single-accordion">
                    <div class="accordion-header" id="headingFive">
                      <p>
                        <button type="button" @click="goToUrl('https://www.google.com')">
                          Latihan Soal Psikotes Online
                        </button>
                      </p>
                    </div>
<!--                    <div id="collapseFive" class="accordion-body collapse">-->
<!--                      <div class="accordion-inner">-->
<!--                        &lt;!&ndash; Here we insert another nested accordion &ndash;&gt;-->
<!--                        <div class="accordion" id="accordion2">-->
<!--                          <div class="accordion-group">-->
<!--                            <div class="accordion-heading">-->
<!--                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerSeven">-->
<!--                                Kelas 7-->
<!--                              </a>-->
<!--                            </div>-->
<!--                            <div id="collapseInnerSeven" class="accordion-body collapse in">-->
<!--                              <div class="accordion-inner">-->
<!--                                <ul>-->
<!--                                  <li><a href="#">Matematika</a></li>-->
<!--                                  <li><a href="#">Bahasa Indonesia</a></li>-->
<!--                                  <li><a href="#">Bahasa Inggris</a></li>-->
<!--                                  <li><a href="#">IPA</a></li>-->
<!--                                </ul>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="accordion-group">-->
<!--                            <div class="accordion-heading">-->
<!--                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerEight">-->
<!--                                Kelas 8-->
<!--                              </a>-->
<!--                            </div>-->
<!--                            <div id="collapseInnerEight" class="accordion-body collapse in">-->
<!--                              <div class="accordion-inner">-->
<!--                                <ul>-->
<!--                                  <li><a href="#">Matematika</a></li>-->
<!--                                  <li><a href="#">Bahasa Indonesia</a></li>-->
<!--                                  <li><a href="#">Bahasa Inggris</a></li>-->
<!--                                  <li><a href="#">IPA</a></li>-->
<!--                                </ul>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="accordion-group">-->
<!--                            <div class="accordion-heading">-->
<!--                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerNine">-->
<!--                                Kelas 9-->
<!--                              </a>-->
<!--                            </div>-->
<!--                            <div id="collapseInnerNine" class="accordion-body collapse in">-->
<!--                              <div class="accordion-inner">-->
<!--                                <ul>-->
<!--                                  <li><a href="#">Matematika</a></li>-->
<!--                                  <li><a href="#">Bahasa Indonesia</a></li>-->
<!--                                  <li><a href="#">Bahasa Inggris</a></li>-->
<!--                                  <li><a href="#">IPA</a></li>-->
<!--                                </ul>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                          <div class="accordion-group">-->
<!--                            <div class="accordion-heading">-->
<!--                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerUNSMP1">-->
<!--                                UN-->
<!--                              </a>-->
<!--                            </div>-->
<!--                            <div id="collapseInnerUNSMP1" class="accordion-body collapse in">-->
<!--                              <div class="accordion-inner">-->
<!--                                <ul>-->
<!--                                  <li><a href="#">Matematika</a></li>-->
<!--                                  <li><a href="#">Bahasa Indonesia</a></li>-->
<!--                                  <li><a href="#">Bahasa Inggris</a></li>-->
<!--                                  <li><a href="#">IPA</a></li>-->
<!--                                </ul>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Inner accordion ends here &ndash;&gt;-->
<!--                      </div>-->
<!--                    </div>-->
                  </div>
<!--                  2. SBMPTN-->
                  <div class="single-accordion">
                    <div class="accordion-header" id="headingSix">
                      <p>
                        <button type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                                aria-controls="collapseSix">
                          SBMPTN
                        </button>
                      </p>
                    </div>
                    <div id="collapseSix" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion3">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTen">
                                Latihan Soal SBMPTN Saintek dan Soshum Online
                              </a>
                            </div>
                            <div id="collapseInnerTen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Soal SBMPTN Matematika Dasar</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
<!--                                  <li><a href="#">Biologi</a></li>-->
<!--                                  <li><a href="#">Kimia</a></li>-->
<!--                                  <li><a href="#">Ekonomi</a></li>-->
                                </ul>
                              </div>
                            </div>
                          </div>
<!--                          2.2 Tes Kemampuan Dasar Umum (TKDU)-->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerEleven">
                                Tes Kemampuan Dasar Umum (TKDU)
                              </a>
                            </div>
                            <div id="collapseInnerEleven" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika IPA</a></li>
                                  <li><a href="#">Matematika IPS</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Biologi</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Ekonomi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
<!--                          2.3  Soal TPA SBMPTN-->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwelve">
                                Soal TPA SBMPTN
                              </a>
                            </div>
                            <div id="collapseInnerTwelve" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika IPA</a></li>
                                  <li><a href="#">Matematika IPS</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Biologi</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Ekonomi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
<!--                          2.4  Soal TPS SBMPTN-->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerUNSMA2">
                                Soal TPS SBMPTN
                              </a>
                            </div>
                            <div id="collapseInnerUNSMA2" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika IPA</a></li>
                                  <li><a href="#">Matematika IPS</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Biologi</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Ekonomi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
<!--                          2.5 Soal SBMPTN Saintek-->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerUNSMA3">
                                Soal SBMPTN Saintek
                              </a>
                            </div>
                            <div id="collapseInnerUNSMA3" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Soal SBMPTN Matematika IPA Saintek</a></li>
                                  <li><a href="#">Soal SBMPTN Fisika</a></li>
                                  <li><a href="#">Soal SBMPTN Kimia</a></li>
                                  <li><a href="#">Soal SBMPTN Biologi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
<!--                          2.6 Soal SBMPTN Soshum-->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerUNSMA4">
                                Soal SBMPTN Soshum
                              </a>
                            </div>
                            <div id="collapseInnerUNSMA4" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Soal SBMPTN Matematika IPS Soshum</a></li>
                                  <li><a href="#">Soal SBMPTN Ekonomi</a></li>
                                  <li><a href="#">Soal SBMPTN Sejarah</a></li>
                                  <li><a href="#">Soal SBMPTN Geografi</a></li>
                                  <li><a href="#">Soal SBMPTN Sosiologi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>
<!--                  3. SMA-->
                  <div class="single-accordion">
                    <div class="accordion-header" id="headingSeven">
                      <p>
                        <button type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                                aria-controls="collapseSeven">
                          SMA
                        </button>
                      </p>
                    </div>
                    <div id="collapseSeven" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion4">
<!--                          3.1 Latihan Soal Ujian Nasional SMA -->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion4" href="#collapseInnerThirteen">
                                Latihan Soal Ujian Nasional SMA
                              </a>
                            </div>
                            <div id="collapseInnerThirteen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Soal Ujian Nasional - Matematika SMA (IPA)</a></li>
                                  <li><a href="#">Soal Ujian Nasional - Matematika SMA (IPS)</a></li>
                                  <li><a href="#">Soal Ujian Nasional - Bahasa Inggris SMA</a></li>
                                  <li><a href="#">Soal Ujian Nasional - Kmia SMA</a></li>
                                  <li><a href="#">Soal Ujian Nasional - Biologi SMA</a></li>
                                  <li><a href="#">Soal Ujian Nasional - Fisika SMA</a></li>
                                  <li><a href="#">Soal Ujian Nasional - Ekonomi SMA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
<!--                          3.2 Matematika-->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion4" href="#collapseInnerFourteen">
                                Matematika
                              </a>
                            </div>
                            <div id="collapseInnerFourteen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Soal Matematika SMA Kelas 10</a></li>
                                  <li><a href="#">Soal Matematika SMA Kelas 11</a></li>
                                  <li><a href="#">Soal Matematika SMA Kelas 12</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
<!--                          3.3 Bahasa Inggris-->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion4" href="#collapseInnerFifteen">
                                Bahasa Inggris
                              </a>
                            </div>
                            <div id="collapseInnerFifteen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Soal Bahasa Inggris Kelas 10</a></li>
                                  <li><a href="#">Soal Bahasa Inggris Kelas 11</a></li>
                                  <li><a href="#">Soal Bahasa Inggris Kelas 12</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
<!--                          3.4 Fisika-->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion4" href="#collapseInnerFifteen1">
                                Fisika
                              </a>
                            </div>
                            <div id="collapseInnerFifteen1" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Soal Fisika Kelas 10</a></li>
                                  <li><a href="#">Soal Fisika Kelas 11</a></li>
                                  <li><a href="#">Soal Fisika Kelas 12</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
<!--                          3.5 Biologi-->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion4" href="#collapseInnerFifteen2">
                                Biologi
                              </a>
                            </div>
                            <div id="collapseInnerFifteen2" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Soal Biologi Kelas 10</a></li>
                                  <li><a href="#">Soal Biologi Kelas 11</a></li>
                                  <li><a href="#">Soal Biologi Kelas 12</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
<!--                          3.6 Kimia-->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion4" href="#collapseInnerFifteen3">
                                Kimia
                              </a>
                            </div>
                            <div id="collapseInnerFifteen3" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Soal Kimia Kelas 10</a></li>
                                  <li><a href="#">Soal Kimia Kelas 11</a></li>
                                  <li><a href="#">Soal Kimia Kelas 12</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
<!--                          3.7 Ekonomi-->
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion4" href="#collapseInnerFifteen4">
                                Ekonomi
                              </a>
                            </div>
                            <div id="collapseInnerFifteen4" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Soal Ekonomi Kelas 10</a></li>
                                  <li><a href="#">Soal Ekonomi Kelas 11</a></li>
                                  <li><a href="#">Soal Ekonomi Kelas 12</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>
<!--                  4. SMP-->
                  <div class="single-accordion">
                    <div class="accordion-header" id="headingEight">
                      <p>
                        <button type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
                                aria-controls="collapseEight">
                          SMP
                        </button>
                      </p>
                    </div>
                    <div id="collapseEight" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerSixteen">
                                CPNS
                              </a>
                            </div>
                            <div id="collapseInnerSixteen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">TPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerSeventeen">
                                POLRI
                              </a>
                            </div>
                            <div id="collapseInnerSeventeen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerEighteen">
                                TNI
                              </a>
                            </div>
                            <div id="collapseInnerEighteen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">TPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerNineteen">
                                STAN
                              </a>
                            </div>
                            <div id="collapseInnerNineteen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">TPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>
<!--                  5. Latihan Ujian Sekolah SD Kelas 4,5,6-->
                  <div class="single-accordion">
                    <div class="accordion-header" id="headingEight">
                      <p>
                        <button type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
                                aria-controls="collapseEight">
                          Latihan Ujian Sekolah SD Kelas 4,5,6
                        </button>
                      </p>
                    </div>
                    <div id="collapseEight" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerSixteen">
                                CPNS
                              </a>
                            </div>
                            <div id="collapseInnerSixteen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">TPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerSeventeen">
                                POLRI
                              </a>
                            </div>
                            <div id="collapseInnerSeventeen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerEighteen">
                                TNI
                              </a>
                            </div>
                            <div id="collapseInnerEighteen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">TPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerNineteen">
                                STAN
                              </a>
                            </div>
                            <div id="collapseInnerNineteen" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">TPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>


<!--        RIGHT FOOTER-->
        <div class="right-accordion col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="accordion" id="accordionExample">
            <div class="single-accordion">
              <div class="accordion-header-1" id="headingTitletwo">
                <p>
                  <button type="button" data-toggle="collapse" data-target="#collapseTitletwo" aria-expanded="true"
                          aria-controls="collapseTitletwo">
                    LATIHAN SOAL GRATIS
                  </button>
                </p>
              </div>
              <div class="accordion-inner">
                <div id="collapseTitletwo" class="accordion-body collapse">

                  <div class="single-accordion">
                    <div class="accordion-header" id="headingNine">
                      <p>
                        <button type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true"
                                aria-controls="collapseNine">
                          SD
                        </button>
                      </p>
                    </div>
                    <div id="collapseNine" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwenty">
                                Kelas 1
                              </a>
                            </div>
                            <div id="collapseInnerTwenty" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentyone">
                                Kelas 2
                              </a>
                            </div>
                            <div id="collapseInnerTwentyone" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentytwo">
                                Kelas 3
                              </a>
                            </div>
                            <div id="collapseInnerTwentytwo" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentythree">
                                Kelas 4
                              </a>
                            </div>
                            <div id="collapseInnerTwentythree" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentyfour">
                                Kelas 5
                              </a>
                            </div>
                            <div id="collapseInnerTwentyfour" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentyfive">
                                Kelas 6
                              </a>
                            </div>
                            <div id="collapseInnerTwentyfive" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerUNSD2">
                                UN
                              </a>
                            </div>
                            <div id="collapseInnerUNSD2" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>

                  <div class="single-accordion">
                    <div class="accordion-header" id="headingTen">
                      <p>
                        <button type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true"
                                aria-controls="collapseTen">
                          SMP
                        </button>
                      </p>
                    </div>
                    <div id="collapseTen" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentysix">
                                Kelas 7
                              </a>
                            </div>
                            <div id="collapseInnerTwentysix" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">IPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentyseven">
                                Kelas 8
                              </a>
                            </div>
                            <div id="collapseInnerTwentyseven" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">IPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentyeight">
                                Kelas 9
                              </a>
                            </div>
                            <div id="collapseInnerTwentyeight" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">IPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerSMP2">
                                UN
                              </a>
                            </div>
                            <div id="collapseInnerSMP2" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">IPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>

                  <div class="single-accordion">
                    <div class="accordion-header" id="headingEleven">
                      <p>
                        <button type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true"
                                aria-controls="collapseEleven">
                          SMA
                        </button>
                      </p>
                    </div>
                    <div id="collapseEleven" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerTwentynine">
                                Kelas 10
                              </a>
                            </div>
                            <div id="collapseInnerTwentynine" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika IPA</a></li>
                                  <li><a href="#">Matematika IPS</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Biologi</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Ekonomi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThirty">
                                Kelas 11
                              </a>
                            </div>
                            <div id="collapseInnerThirty" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika IPA</a></li>
                                  <li><a href="#">Matematika IPS</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Biologi</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Ekonomi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThirtyone">
                                Kelas 12
                              </a>
                            </div>
                            <div id="collapseInnerThirtyone" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Biologi</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Ekonomi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerUNSMA2">
                                UN
                              </a>
                            </div>
                            <div id="collapseInnerUNSMA2" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika IPA</a></li>
                                  <li><a href="#">Matematika IPS</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Biologi</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Ekonomi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>

                  <div class="single-accordion">
                    <div class="accordion-header" id="headingTwelve">
                      <p>
                        <button type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true"
                                aria-controls="collapseTwelve">
                          SBMPTN
                        </button>
                      </p>
                    </div>
                    <div id="collapseTwelve" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThirtyTwo">
                                Saintek
                              </a>
                            </div>
                            <div id="collapseInnerThirtyTwo" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika IPA</a></li>
                                  <li><a href="#">Fisika</a></li>
                                  <li><a href="#">Kimia</a></li>
                                  <li><a href="#">Biologi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThirtythree">
                                Soshum
                              </a>
                            </div>
                            <div id="collapseInnerThirtythree" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika IPS</a></li>
                                  <li><a href="#">Sejarah</a></li>
                                  <li><a href="#">Geografi</a></li>
                                  <li><a href="#">Sosiologi</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThirtyfour">
                                TKDU
                              </a>
                            </div>
                            <div id="collapseInnerThirtyfour" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika Dasar</a></li>
                                  <li><a href="#">Bahasa Indonesia</a></li>
                                  <li><a href="#">Bahasa Inggris</a></li>
                                  <li><a href="#">TPA</a></li>
                                  <li><a href="#">TPS</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>

                  <div class="single-accordion">
                    <div class="accordion-header" id="headingThirteen">
                      <p>
                        <button type="button" data-toggle="collapse" data-target="#collapseThirteen"
                                aria-expanded="true" aria-controls="collapseThirteen">
                          UMUM
                        </button>
                      </p>
                    </div>
                    <div id="collapseThirteen" class="accordion-body collapse">
                      <div class="accordion-inner">
                        <!-- Here we insert another nested accordion -->
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThirtyfive">
                                CPNS
                              </a>
                            </div>
                            <div id="collapseInnerThirtyfive" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">TPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThirtysix">
                                POLRI
                              </a>
                            </div>
                            <div id="collapseInnerThirtysix" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">Matematika</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThirtyseven">
                                TNI
                              </a>
                            </div>
                            <div id="collapseInnerThirtyseven" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">TPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a data-toggle="collapse" data-parent="#accordion2" href="#collapseInnerThirtyeight">
                                STAN
                              </a>
                            </div>
                            <div id="collapseInnerThirtyeight" class="accordion-body collapse in">
                              <div class="accordion-inner">
                                <ul>
                                  <li><a href="#">TPA</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Inner accordion ends here -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</template>

<script>
export default {

  data: () => ({
    email: null
  }),
  methods: {
    goToUrl(url){
      console.log(url)
      window.location.href = url
    }
  }
}
</script>

<style scoped>

</style>
