<template>
  <footer>
      <div class="container">
      <div class="bg-white footer pt-5 pb-3 footer-end">
        <div class="container">
          <div class="row">
            <div class="col-md-3 mb-4 foo-lists">
              <img src="~/assets/img/logo-beta.png" style="width: 150px" class="img-fluid" alt="">
              <p class="mb-4 mt-4">“Semua Bisa Pintar”</p>
              <p class="mb-4">Copyright © 2020</p>
              <div class="sosmed">
                <a href="https://www.instagram.com/edutorecom" target="_blank" rel="nofollow">
                  <span class="mr-2"><img src="~/assets/img/instagram.png" class="img-fluid" alt="instagram"></span>
                </a>
                <a href="https://twitter.com/edutorecom" target="_blank" rel="nofollow">
                  <span class="mr-2"><img src="~/assets/img/twitter.png" class="img-fluid" alt="twitter"></span>
                </a>
                <a href="https://web.facebook.com/edutorecom" target="_blank" rel="nofollow">
                  <span class="mr-2"><img src="~/assets/img/facebook.png" class="img-fluid" alt="fb"></span>
                </a>
                <!--a href="">
                  <span class="mr-2"><img src="~/assets/img/youtube.png" class="img-fluid" alt=""></span>
                </a-->
              </div>
            </div>
            <div class="col-md-9 mb-4 foo-lists">
              <div class="row">
                <div class="col-sm-3 mb-4">
                  <p class="mb-1"><b>Menu</b></p>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link pl-0 foot-hover" href="https://edutore.com">Beranda</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0 foot-hover" href="https://partner.edutore.com">Edutore Partner</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0 foot-hover" href="https://edutore.com/news">News</a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-3 mb-4 mb-4">
                  <p class="mb-1"><b>Bantuan</b></p>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <nuxt-link to="/kebijakan-privacy" class="nav-link pl-0 foot-hover">Kebijakan Privacy</nuxt-link>
                    </li>
                    <li class="nav-item">
                      <nuxt-link to="/kritik-saran" class="nav-link pl-0 foot-hover">Kritik & Saran</nuxt-link>
                    </li>
                    <li class="nav-item">
                      <nuxt-link to="/kritik-saran" class="nav-link pl-0 foot-hover">Hubungi Kami</nuxt-link>
                    </li>
                    <li class="nav-item">
                      <nuxt-link to="/haki" class="nav-link pl-0 foot-hover">Hak Cipta</nuxt-link>
                    </li>
                    <li class="nav-item">
                      <nuxt-link to="/faq" class="nav-link pl-0 foot-hover">FAQ</nuxt-link>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-3 mb-4">
                  <p class="mb-1"><b>Gratis Latihan Soal</b></p>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="https://edutore.com/news/latihan-soal-cpns-online/">Latihan Soal CPNS Online</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="https://edutore.com/news/latihan-soal-psikotes-online/">Latihan Soal Tes Psikologi</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="https://edutore.com/news/soal-sbmptn-saintek-soshum/">Latihan Soal SBMPTN Online</a>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-3 mb-4">
                  <p class="mb-1"><b>&nbsp</b></p>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="https://edutore.com/news/latihan-soal-unbk-usbn-sma/">Latihan Soal UNBK USBN SMA Online</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="https://edutore.com/news/latihan-soal-unbk-usbn-smp-mts/">Latihan Soal UNBK USBN SMP Online</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link pl-0" href="https://edutore.com/news/latihan-soal-ujian-sekolah-sd/">Latihan Soal UNBK USBN SD Online</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- <p class="mt-4"><b>Download Edutore Mobile App</b></p>
              <a href=""><span><img src="~/assets/img/Play-Store-Logo-2.png" alt=""></span></a>
              <a href=""><span><img src="~/assets/img/1280px-Download_on_the_App_Store_Badge.svg.png" alt=""></span></a> -->

            </div>

            <!--            <div class="col-md-3 mb-4 foo-lists pl-5 pr-5">-->
            <!--              <div class="text-center mt-4">-->
            <!--                <p>-->
            <!--                  <b>-->
            <!--                    Masukan emailmu dan dapatkan <br>-->
            <!--                    info-info menarik-->
            <!--                  </b>-->
            <!--                </p>-->
            <!--                &lt;!&ndash;                    <form action="">&ndash;&gt;-->
            <!--                <div class="form-group">-->
            <!--                  <input v-model="email" type="text" name="" id="" class="form-control" placeholder="Masukan email">-->
            <!--                </div>-->
            <!--                <button @click="mailchimpSubscribe()" type="submit" class="btn btn-warning btn-block">Kirim</button>-->
            <!--                &lt;!&ndash;                    </form>&ndash;&gt;-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
          <hr>
          <ul class="nav justify-content-center">
            <li class="nav-item mr-5">
              <nuxt-link to="/tentang-kami" class="nav-link">Tentang Kami</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/terms" class="nav-link">Syarat dan Ketentuan</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/haki" class="nav-link">Hak Cipta</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/kebijakan-privacy" class="nav-link">Kebijakan Privasi</nuxt-link>
            </li>
            <!--<li class="nav-item">-->
            <!--<nuxt-link to="" class="nav-link">Peta Situs</nuxt-link>-->
            <!--</li>-->
            <li class="nav-item">
              <nuxt-link to="/kritik-saran" class="nav-link">Kritik dan saran</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/haki" class="nav-link">Hak Cipta</nuxt-link>
            </li>
            <li class="nav-item">
              <nuxt-link to="/faq" class="nav-link">FAQ</nuxt-link>
            </li>
            <!--<li class="nav-item ml-5 ">-->
            <!--<a class="nav-link language" href="javascript:void(0)">Bahasa Indonesia</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="javascript:void(0)">English</a>-->
            <!--</li>-->

          </ul>
        </div>
        <!-- begin adf.ly conversion tracking -->
        <!--      <img src="//adf.ly/ad/conv?aid=1041593" width="1" height="1" border="0" hspace="0" vspace="0" style="position: absolute; left: -1000px; top: -1000px;" />&lt;!&ndash; end adf.ly conversion tracking &ndash;&gt;-->
      </div>
    </div>
  </footer>
</template>

<script>
export default {

  data: () => ({
    email: null
  }),
  methods: {

  }
}
</script>

<style scoped>

</style>
