<template>
  <!-- Navbar -->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-white mt-3 mb-4" role="navigation">
      <nuxt-link class="navbar-brand col-3" to="/">
        <img src="@/assets/img/logo@2x.png" class="img-fluid ml-2" alt="Logo Edutore">
      </nuxt-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Beranda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Latihan Soal Online</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">Latihan Soal CPNS Online</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown1">
              <li class="dropdown-item" href="#"><a>Latihan Soal CPNS Online</a></li>
              <li class="dropdown-item" href="#"><a>Latihan Soal Psikotes Online</a></li>
              <li class="dropdown-item" href="#"><a>Latihan Soal SBMPTN Saintek <br /> dan Soshum Online</a></li>
              <li class="dropdown-item dropdown">
                <a class="dropdown-toggle" id="dropdown1-1" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">SMA</a>
                <ul class="dropdown-menu" aria-labelledby="dropdown1-1">
                  <li class="dropdown-item dropdown">
                    <a class="dropdown-toggle" id="dropdown1-1-1" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Latihan Soal Ujian Nasional SMA</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                      <li class="dropdown-item" href="#"><a>Soal Ujian Nasional - Matematika SMA (IPA)</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Ujian Nasional - Matematika SMA (IPS)</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Ujian Nasional - Bahasa Inggris SMA</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Ujian Nasional - Kimia SMA</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Ujian Nasional - Biologi SMA</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Ujian Nasional - Fisika SMA</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Ujian Nasional - Ekonomi SMA</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item dropdown">
                    <a class="dropdown-toggle" id="dropdown1-1-2" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Matematika</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                      <li class="dropdown-item" href="#"><a>Soal Matematika SMA Kelas 10</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Matematika SMA Kelas 11</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Matematika SMA Kelas 12</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item dropdown">
                    <a class="dropdown-toggle" id="dropdown1-1-3" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Bahasa Inggris</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                      <li class="dropdown-item" href="#"><a>Soal Bahasa Inggris SMA Kelas 10</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Bahasa Inggris SMA Kelas 11</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Bahasa Inggris SMA Kelas 12</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item dropdown">
                    <a class="dropdown-toggle" id="dropdown1-1-4" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Fisika</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                      <li class="dropdown-item" href="#"><a>Soal Fisika SMA Kelas 10</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Fisika SMA Kelas 11</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Fisika SMA Kelas 12</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item dropdown">
                    <a class="dropdown-toggle" id="dropdown1-1-5" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Biologi</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                      <li class="dropdown-item" href="#"><a>Soal Biologi SMA Kelas 10</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Biologi SMA Kelas 11</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Biologi SMA Kelas 12</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item dropdown">
                    <a class="dropdown-toggle" id="dropdown1-1-6" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Kimia</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                      <li class="dropdown-item" href="#"><a>Soal Kimia SMA Kelas 10</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Kimia SMA Kelas 11</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Kimia SMA Kelas 12</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item dropdown">
                    <a class="dropdown-toggle" id="dropdown1-1-7" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Ekonomi</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1-1-1">
                      <li class="dropdown-item" href="#"><a>Soal Ekonomi SMA Kelas 10</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Ekonomi SMA Kelas 11</a></li>
                      <li class="dropdown-item" href="#"><a>Soal Ekonomi SMA Kelas 12</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown-item" href="#"><a>Latihan Soal UNBK dan USBN SMP MTS</a></li>
              <li class="dropdown-item" href="#"><a>Latihan Soal Ujian Sekolah SD Kelas 4,5,6</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">Berita</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown2">
              <li class="dropdown-item" href="#"><a>Sains dan Teknologi</a></li>
              <li class="dropdown-item" href="#"><a>Kesehatan</a></li>
              <li class="dropdown-item" href="#"><a>Psikologi</a></li>
              <li class="dropdown-item" href="#"><a>Tips dan Trik</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Promo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acara</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tentang Kami</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>

export default {

}
</script>

<style scoped>

</style>


