/* font-family: Abel */
@font-face {
  font-family: ElliotSans;
  src: url('../js/fonts/ElliotSans-Regular.ttf');
}

@font-face {
  font-family: AbrilFatface;
  src: url('../js/fonts/AbrilFatface-Regular.ttf');
}

@font-face {
  font-family: RobotoSlab;
  src: url('../js/fonts/RobotoSlab-VariableFont_wght.ttf');
}

/*@font-face {*/
/*  font-family: AlegreyaSansSC;*/
/*  src: url('../font/AlegreyaSansSC-Regular.ttf');*/
/*}*/
