@import url("../css/fonts.css");
body {
  background-color: #fff;
  font-size: 14px;
  font-weight: normal;
  color: #7F7F7F;
  font-family: var(--ElliotSans);
}

.belajar-gratis-h1 {
  font-size: 33px !important;
  font-family: var(--ElliotSans);
}

.belajar-gratis-bread-crumb {
  font-size: 40px !important;
  font-family: var(--ElliotSans);
}

:root {
  --ElliotSans: "ElliotSans", regular;
  --AbrilFatface: "AbrilFatface", cursive;
  --RobotoSlab: "RobotoSlab", cursive;
  --AlegreyaSansSC: "AlegreyaSansSC", cursive;
}

/* Navbar */
.navbar.hide {
  -webkit-transform: translateY(-100);
          transform: translateY(-100);
}

.navbar-brand img {
  max-height: 60px;
}

.navbar-light .navbar-nav .nav-item {
  margin-right: 10px;
  position: relative;
}

.navbar-light .navbar-nav .nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: #0b63dc;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.navbar-light .navbar-nav .nav-item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #333333;
  font-size: 14px;
  font-family: var(--ElliotSans);
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-item .dropdown-item {
  font-size: 14px;
  color: #515151;
  font-family: var(--ElliotSans);
}

/* Section 1 */
.section-1 .sub-breadcrumb {
  font-family:var(--ElliotSans);
  font-size: 14px;
  color: #1e73be;
}

.section-1 .title-1 {
  font-family: var(--AbrilFatface);
  font-size: 18px;
  color: #333333;
}

.section-1 .title-1 hr {
  border: 0.7px solid #515151;
}

.section-1 .content-left p {
  font-size: 15px;
  font-family: var(--ElliotSans);
  color: #666666;
  text-align: justify;
}

.section-1 .content-left p span {
  color: #ff6600;
}

.section-1 .content-left h2 {
  font-family: var(--RobotoSlab);
  font-size: 25px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-1 .content-left h2 span {
  color: #ff6600;
}

.section-1 .content-left ul {
  font-family: var(--ElliotSans);
  margin-left: -20px;
}

.section-1 .content-left ul li {
  font-size: 15px;
  text-align: justify;
  color: #666666;
}

.section-1 .content-left ul li span {
  color: #ff6600;
}

.section-1 .content-left .toggle-text-button {
  color: #557cbf;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.section-1 .content-left .toggle-text-button::before {
  font-family: "FontAwesome";
  content: "\f107";
}

.section-1 .content-left .toggle-text {
  display: none;
}

.section-1 .content-right {
  width: 100%;
  height: 240px;
  background-color: #041941;
  padding: 35px 15px 0 15px;
}

.section-1 .content-right h2 {
  font-family: var(--RobotoSlab);
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0 10px 0;
}

.section-1 .content-right p {
  font-family: var(--ElliotSans);
  font-size: 13px;
  color: #fff;
}

.section-1 .content-right a {
  font-family: var(--ElliotSans);
  font-size: 14px;
  color: #fff;
  background-color: #ff9900;
  text-transform: uppercase;
  border-radius: 5px;
}

/* Section 2*/
.section-2 .accordion {

  font-family: var(--ElliotSans);
}

.section-2 .accordion .single-accordion {
  margin-bottom: 10px;
  text-align: justify;
  margin-top: 30px;
}

.section-2 .accordion .single-accordion .collapse .accordion-body {
  border-bottom: 1px solid #e9eaed;
  border-right: 1px solid #e9eaed;
  border-left: 1px solid #e9eaed;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: -17px;
}

.section-2 .accordion .single-accordion .collapse .accordion-body .content-collapse {
  padding: 10px;
  font-family: var(--ElliotSans);
}

.section-2 .accordion .single-accordion .collapse .accordion-body .content-collapse a {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  color: #1e73be;
}

.section-2 .accordion .single-accordion .collapse .accordion-body .content-collapse .images-accordion {
  width: 150;
}

.section-2 .accordion .single-accordion .collapse .accordion-body .content-collapse .description {
  font-size: 16px;
  color: #757575;
  text-align: justify;
}

.section-2 .accordion .single-accordion .accordion-header button {
  background-color: transparent;
  border: 1px solid #e9eaed;
  border-radius: 3px;
  color: #0d4bbf;
  text-align: left;
  padding: 15px 15px;
  width: 100%;
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 15px;
}

.section-2 .accordion .single-accordion .accordion-header button::before {
  font-family: "FontAwesome";
  content: "\f107";
  width: 35px;
  font-size: 25px;
  text-align: center;
  right: 15px;
  top: 10px;
  position: absolute;
}

.section-3 .content-pagination {
  color: #666666;
  font-size: 15px;
  font-family: var(--ElliotSans);
}

.section-3 .wrapper {
  width: 100%;
  height: 220px;
  background-color: #041941;
  padding: 35px 15px 0 15px;
}

.section-3 .wrapper h2 {
  font-family: var(--RobotoSlab);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0 10px 0;
}

.section-3 .wrapper p {
  font-family: var(--ElliotSans);
  font-size: 13px;
  color: #fff;
}

.section-3 .wrapper a {
  font-family: var(--ElliotSans);
  font-size: 14px;
  color: #fff;
  background-color: #ff9900;
  text-transform: uppercase;
  border-radius: 5px;
}

.details {
  font-family: var(--AlegreyaSansSC);
  color: #333333;
}

.details .left-details h3 {
  font-size: 24px;
  font-weight: bold;
}

.details .left-details p {
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 15px;
}

.details .right-details {
  width: 100%;
  height: 240px;
  background-color: #041941;
  padding: 50px 15px 0 15px;
  color: #fff;
}

.details .right-details h2 {
  font-size: 30px;
  font-family: var(--RobotoSlab);
}

.details .right-details p {
  font-family: var(--ElliotSans);
  font-size: 15px;
}

.details .right-details a {
  color: #fff;
  padding: 14px 20px;
  background-color: #ff9900;
}

.section-4 .divider-between .text-divider {
  margin: 2em 0;
  line-height: 0;
  font-size: 15px;
  text-align: center;
  font-family: var(--RobotoSlab);
}

.section-4 .divider-between .text-divider::before {
  content: "";
  display: block;
  border-top: 1px solid #666666;
}

.section-4 .divider-between .text-divider .line {
  padding: 1em;
  color: #333333;
  background-color: #fff;
  font-weight: bold;
}

.section-5 .left-accordion .accordion {
  font-family: var(--ElliotSans);
}

.section-5 .left-accordion .accordion .single-accordion {
  text-align: justify;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.section-5 .left-accordion .accordion .single-accordion .collapse .accordion-group {
  border-bottom: 1px solid #e9eaed;
  border-right: 1px solid #e9eaed;
  border-left: 1px solid #e9eaed;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.section-5 .left-accordion .accordion .single-accordion .collapse .accordion-group .accordion-heading {
  padding: 10px 5px 5px 5px;
  font-size: 14px;
}

.section-5 .left-accordion .accordion .single-accordion .collapse .accordion-group .accordion-inner a {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
  color: #666666;
}

.section-5 .left-accordion .accordion .single-accordion .accordion-header-1 button {
  background-color: transparent;
  border: 1px solid #e9eaed;
  border-radius: 3px;
  color: #337ab7;
  text-align: left;
  padding: 15px;
  width: 100%;
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  font-weight: 700;
}

.section-5 .left-accordion .accordion .single-accordion .accordion-header-1 button::before {
  font-family: "FontAwesome";
  content: "\f107";
  width: 35px;
  font-size: 25px;
  text-align: center;
  right: 15px;
  top: 8px;
  position: absolute;
  color: #666666;
}

.section-5 .left-accordion .accordion .single-accordion .accordion-header button {
  background-color: transparent;
  border-top: none;
  border-right: 1px solid #e9eaed;
  border-bottom: 1px solid #e9eaed;
  border-left: 1px solid #e9eaed;
  border-radius: 3px;
  color: #0056b3;
  text-align: left;
  padding: 10px;
  width: 100%;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.section-5 .left-accordion .accordion .single-accordion .accordion-header button:hover {
  text-decoration: underline;
}

.section-5 .right-accordion .accordion {
  font-family: var(--ElliotSans);
}

.section-5 .right-accordion .accordion .single-accordion {
  text-align: justify;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.section-5 .right-accordion .accordion .single-accordion .collapse .accordion-group {
  border-bottom: 1px solid #e9eaed;
  border-right: 1px solid #e9eaed;
  border-left: 1px solid #e9eaed;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.section-5 .right-accordion .accordion .single-accordion .collapse .accordion-group .accordion-heading {
  padding: 10px 5px 5px 5px;
  font-size: 14px;
}

.section-5 .right-accordion .accordion .single-accordion .collapse .accordion-group .accordion-inner a {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
  color: #666666;
}

.section-5 .right-accordion .accordion .single-accordion .accordion-header-1 button {
  background-color: transparent;
  border: 1px solid #e9eaed;
  border-radius: 3px;
  color: #337ab7;
  text-align: left;
  padding: 15px;
  width: 100%;
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  font-weight: 700;
}

.section-5 .right-accordion .accordion .single-accordion .accordion-header-1 button::before {
  font-family: "FontAwesome";
  content: "\f107";
  width: 35px;
  font-size: 25px;
  text-align: center;
  right: 15px;
  top: 8px;
  position: absolute;
  color: #666666;
}

.section-5 .right-accordion .accordion .single-accordion .accordion-header button {
  background-color: transparent;
  border-top: none;
  border-right: 1px solid #e9eaed;
  border-bottom: 1px solid #e9eaed;
  border-left: 1px solid #e9eaed;
  border-radius: 3px;
  color: #0056b3;
  text-align: left;
  padding: 10px;
  width: 100%;
  outline: none;
  font-size: 16px;
}

.section-5 .right-accordion .accordion .single-accordion .accordion-header button:hover {
  text-decoration: underline;
}

footer .foo-left {
  border-right: 1px solid #cccccc;
}

footer .foo-left p {
  font-size: 14px;
  color: #808080;
  font-family: var(--ElliotSans);
  margin-top: 10px;
}

footer .foo-left .sosmed a {
  text-decoration: none;
}

footer .foo-left .sosmed img {
  width: 36px;
}

footer .nav-item .title-list-footer {
  font-size: 14px;
  color: #404040;
  font-family: var(--ElliotSans);
}

footer .nav-item a:hover {
  color: #1e9cd7;
}

footer .footer-bottom {
  font-size: 14px;
  color: #404040;
  font-family: var(--ElliotSans);
}

footer .title-footer-edutore {
  color: #808080;
  font-size: 14px;
  font-family: var(--ElliotSans);
}

.footer-end {
  font-family: var(--ElliotSans);
  font-size: 14px;
  font-weight: normal;
}

.footer-end .nav-link{
  color: #404040;
}

.footer-end b, strong{
  color: #7F7F7F;
}

.belajar-gratis-loader{
  font-family: var(--ElliotSans);
  margin-left: -21px;
  color: #7F7F7F;
}


/*# sourceMappingURL=main.css.map */
