<template>
  <!-- Navbar -->
  <div>
    <section class="section-1">
      <div class="container-fluid">
        <div class="row mb-4 mx-4">
          <div class="sub-breadcrumb col-12">
            <!--            <p>Belajar-Gratis-&gt;Kelas 12 SMA</p>-->
            <p><nuxt-link to="/belajar-gratis">Belajar Gratis</nuxt-link> -&gt; <span class="text-grey">{{$route.params.matpel_kelas.replace(/-/g, ' ')}}</span></p>
          </div>
        </div>
        <div class="row mx-4">
          <div class="title-1 col-12 col-sm-12">
            <!--            <p>Materi Matematika SMA Kelas 12 - Belajar Gratis Edutore by Gramedia</p>-->
<!--            <h1 class="belajar-gratis-h1">Download soal {{$route.params.matpel_kelas.replace(/-/g, ' ')}} gratis</h1>-->
            <h1 class="belajar-gratis-h1">Download soal {{parseMatpel}} gratis</h1>
            <hr />
          </div>
        </div>
        <div class="row mx-4">
          <div class="content-left col-12 col-sm-12 col-md-9 col-lg-9">
            <p>
              Edutore.com membantu kamu dalam belajar dengan mencoba modul materi {{$route.params.matpel_kelas.replace(/-/g, ' ')}}.
              Dengan adanya edutore, buku soal {{$route.params.matpel_kelas.replace(/-/g, ' ')}} yang selama ini diakses secara
              fisik,
              kini dapat diakses juga dengan web dan aplikasi sehingga belajar dapat dilakukan di mana saja dan kapan
              saja. Konten-konten di dalamnya diambil dari buku-buku pilihan para penerbit unggulan di Indonesia. Yuk
              pilih modul dibawah ini dan mulai belajar di Edutore!
            </p>
            <h2>Cara Belajar {{$route.params.matpel_kelas.replace(/-/g, ' ')}} Secara Gratis di Edutore</h2>
            <ul>
              <li><strong>Pilih Modul:</strong> Pilih mata pelajaran yang kamu inginkan. Kamu dapat memilih
                {{$store.state.belajar_gratis.routeParams.matpel.toLowerCase()}}.</li>
            </ul>
            <p v-if="!toggleText" @click="toogleText" class="toggle-text-button2">Selengkapnya...</p>
            <client-only>
              <fade-transition :duration="500">
                <div v-show="toggleText">
                  <ul class="">
                    <li><strong>Penjelasan Soal:</strong> Semua soal di dalam galeri tes edutore terdapat penjelasan yang mudah
                      dan komprehensif dari para penulis buku unggulan.</li>
                    <li><strong>Belajar Dimanapun:</strong> Download <a href="https://play.google.com/store/apps/details?id=com.edutore02" target="_blank" rel="nofollow">aplikasi edutore di playstore</a>. Dengan
                      begitu kamu dapat belajar dimanapun dan kapanpun kamu merasa nyaman.</li>
                  </ul>
                  <h2 class="">Edutore Cocok Untuk</h2>
                  <ul class="">
                    <li>Siswa yang sedang mencari materi {{$route.params.matpel_kelas.replace(/-/g, ' ')}}
                    <li>Siswa yang ingin belajar tambahan {{$route.params.matpel_kelas.replace(/-/g, ' ')}}
                    <li>Guru yang mencari materi pelajaran {{$route.params.matpel_kelas.replace(/-/g, ' ')}}</li>
                  </ul>
                  <h2 class="">Mengapa Memilih Edutore</h2>
                  <ul class="">
                    <li><strong>Belajar secara mandiri:</strong> dengan adanya edutore, kamu bisa belajar sesuai dengan waktumu.
                      Kamu dapat belajar setiap hari, seminggu dua kali, atau kapanpun kamu mau.</li>
                    <li><strong>Bebas Mengulang Pelajaran:</strong> Kamu bisa mengulang materi dan pelajaran yang tidak kamu
                      pahami berulang-ulang kali hingga kamu paham.</li>
                    <li><strong>Penilaian Instant:</strong> Fitur penilaian instant dapat digunakan sebagai tolak ukur seberapa
                      kemampuanmu.</li>
                    <li><strong>Akses Tanpa Batas:</strong> Dengan berlangganan di edutore, kamu dapat mengakses banyak buku
                      materi {{$store.state.belajar_gratis.routeParams.full_title.toLowerCase()}}. Tidak hanya itu, kamu juga mendapatkan akses ke semua mata
                      pelajaran untuk {{$store.state.belajar_gratis.routeParams.jenjang.toLowerCase()}}. Dengan begitu kamu bisa meraih nilai tertinggi di
                      sekolah.</li>
                  </ul>
                </div>
              </fade-transition>
            </client-only>

          </div>
          <div class="content-right text-center col-12 col-sm-12 col-md-3 col-lg-3">
            <h2>Raih Nilai Tertinggi Untuk {{$store.state.belajar_gratis.routeParams.full_title}}!</h2>
            <p>Akses buku dari para penerbit unggulan Indonesia!</p>
            <a href="https://play.google.com/store/apps/details?id=com.edutore02" target="_blank" rel="nofollow" class="btn">Download Sekarang</a>
          </div>
        </div>
      </div>
    </section>

    <section class="section-2">
      <div class="container-fluid">
        <div class="row mx-4">
          <!-- <div class="filter col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <h5 class="text-divider"><span class="line">Filter</span></h5>
                <form class="form-inline my-2 justify-content-center">
                  <input class="form-control text-center" type="search" placeholder="Search" aria-label="Search">
                </form>
              </div> -->
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="accordion" id="accordionExample1c">
              <div v-for="(listModules, index) in listResGroupedModuleLeft" :key="index" class="single-accordion">
                <div class="accordion-header" id="headingOnec">
                  <p>
                    <button type="button" data-toggle="collapse" :data-target="'#collapseOnet'+index" aria-expanded="true"
                            aria-controls="collapseOne">
                      <a :href="`/modules/${listModules.data[0].module_slug}?type=0`" rel="nofollow">{{listModules.data[0].module_name}}</a>
<!--                      <nuxt-link :to="{name: 'modules-id', params: {id: 'kejar-skor-toefl-600-pasti-bisa?type=0'}}">{{listModules.data[0].module_name}}</nuxt-link>-->
                    </button>
                  </p>
                </div>
                <div :id="'collapseOnet'+index" :class="{'collapse show': index === 0, 'collapse': index !== 0}" aria-labelledby="headingOne" data-parent="#accordionExample1c">
                  <div class="accordion-body" >
                    <div class="content-collapse">
                      <!--                      <div v-for="(listPaketSoal, index) in listMod.data.module" :class="{'mt-5' : index !== 0}">-->
                      <!--                        <nuxt-link :to="'/modules/'+listPaketSoal.data[0].module_slug">{{listMod2.data[0].module_name}}</nuxt-link>-->
                      <div class="images-accordion row">
                        <div class="col-4">
                          <!--                            <img src="@/assets/img/2.png" class="img-fluid" width="150">-->
                          <img :src="$store.state.setting.cdnBasePathModuleThumb+listModules.data[0].image" class="img-fluid" width="150">
                        </div>
                        <div class="col-8 description">
                          <ul>
                            <li v-for="(listPaketSoal, index) in listModules.data" :key="index"><a @click="goToTrialTest(listPaketSoal)" href="javascript:void(0)">{{listPaketSoal.nama_paket_soal}}</a></li>
                          </ul>
                          <!--                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi magnam tempora quaerat ad-->
                          <!--                              facilis, molestias laboriosam placeat minus incidunt dolorum!</p>-->
                        </div>
                      </div>
                    </div>
                    <!--                    </div>-->
                    <!--                      <div v-else class="content-collapse">-->
                    <!--                        <p>Maaf, Module kosong</p>-->
                    <!--                      </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="accordion" id="accordionExample1cx">
              <div v-for="(listModules, index) in listResGroupedModuleRight" :key="index" class="single-accordion">
                <div class="accordion-header" id="headingOnecx">
                  <p>
                    <button type="button" data-toggle="collapse" :data-target="'#collapseOnetx'+index" aria-expanded="true"
                            aria-controls="collapseOnetx">
                      {{listModules.data[0].module_name}}
                    </button>
                  </p>
                </div>
                <div :id="'collapseOnetx'+index" class="collapse" aria-labelledby="headingOnecx" data-parent="#accordionExample1cx">
                  <div class="accordion-body">
                    <div class="content-collapse">
                      <!--                      <div v-for="(listPaketSoal, index) in listMod.data.module" :class="{'mt-5' : index !== 0}">-->
                      <!--                        <nuxt-link :to="'/modules/'+listPaketSoal.data[0].module_slug">{{listMod2.data[0].module_name}}</nuxt-link>-->
                      <div class="images-accordion row">
                        <div class="col-4">
                          <!--                            <img src="@/assets/img/2.png" class="img-fluid" width="150">-->
                          <img :src="$store.state.setting.cdnBasePathModuleThumb+listModules.data[0].image" class="img-fluid" width="150">
                        </div>
                        <div class="col-8 description">
                          <ul>
                            <li v-for="(listPaketSoal, index) in listModules.data" :key="index"><a @click="goToTrialTest(listPaketSoal)" href="javascript:void(0)">{{listPaketSoal.nama_paket_soal}}</a></li>
                          </ul>
                          <!--                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi magnam tempora quaerat ad-->
                          <!--                              facilis, molestias laboriosam placeat minus incidunt dolorum!</p>-->
                        </div>
                      </div>
                    </div>
                    <!--                    </div>-->
                    <!--                      <div v-else class="content-collapse">-->
                    <!--                        <p>Maaf, Module kosong</p>-->
                    <!--                      </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-3">
      <div class="container-fluid">
        <div class="row mx-4">
          <div class="col-12 wrapper text-center">
            <h2>Dengan Edutore Belajar Jadi Lebih Menyenangkan</h2>
            <p>Akses buku dari para penerbit unggulan Indonesia!</p>
            <a href="https://play.google.com/store/apps/details?id=com.edutore02" target="_blank" rel="nofollow" class="btn">DOWNLOAD SEKARANG</a>
          </div>
        </div>
      </div>
    </section>

    <section class="section-4">
      <div class="container-fluid">
        <div class="row mx-4 mb-5">
          <div class="divider-between col-12">
            <h4 class="text-divider"><span class="line">Jelajahi Galeri Materi Dari Edutore
              </span></h4>
          </div>
        </div>
      </div>
    </section>

  </div>

</template>

<script>
  const changeCase = require('change-case')
  require('~/plugins/jquery');

  export default {
    layout: 'belajar-gratis-layout',
    head () {
      return {
        titleTemplate: `Download Soal ${this.parseMatpel} Gratis`,
        meta: [
          { hid: 'description', name: 'description', content: `Download Soal ${this.parseMatpel} gratis dari Edutore By Gramedia. semua contoh soal ${this.$store.state.belajar_gratis.routeParams.matpel.toLowerCase()} dilengkapi dengan pembahasan.` }
        ],
        link: [
          {
            rel: 'canonical',
            href: process.env.BASE_URL + this.$route.path
          }
          // {
          //   rel: 'stylesheet',
          //   href: 'https://fonts.googleapis.com/css?family=Raleway:400,300',
          //   type: 'text/css'
          // },
        ],
      }
    },
    validate({ params, query, store, app }) {
      // return app.$cookies.get('url-params').slug === params.matpel_kelas
      return true // jika params valid
      // return false // akan mencegah Nuxt.js untuk me-render rute dan menampilkan halaman kesalahan
    },
    async asyncData({params, store, app, error}){
      const data = {
        kelas: params.matpel_kelas.split('tingkat')[1].split('kelas')[1].replace('-', ''),
        matpel: params.matpel_kelas.split('tingkat')[0].replace(/-/g, ' '),
        kelas_name: params.matpel_kelas.split('tingkat')[1].split('kelas')[0].replace(/-/g, ' ').trim(),
        slug: params.matpel_kelas,
      }
      store.state.belajar_gratis.routeParams === null ? store.commit('belajar_gratis/setRouteParams', data) : ''
      await app.$axios.get(`paket-soal-trial?kelas=${data.kelas}&mata_pelajaran=${data.matpel}`)
        .then(async (res) => {
          if (res.data.total !== 0){
            // console.log(res.data)
            await store.commit('belajar_gratis/setMatpel', res.data.data)
          }else{
            // console.log('data kosong')
            error({ statusCode: 404, message: 'Maaf halaman yang anda cari tidak di temukan' })
          }
        })


     // console.log(context.params)
    },
    async fetch({store, app, params, error},){
      // error({ statusCode: 404, message: 'Post not found' })
      // const data = {
      //   kelas: params.matpel_kelas.split('tingkat')[1].split('kelas')[1].replace('-', ''),
      //   matpel: params.matpel_kelas.split('tingkat')[0].replace(/-/g, ' '),
      //   kelas_name: params.matpel_kelas.split('tingkat')[1].split('kelas')[0].replace(/-/g, ' ').trim(),
      //   slug: params.matpel_kelas,
      // }
      // store.state.belajar_gratis.routeParams === null ? store.commit('belajar_gratis/setRouteParams', data) : ''
      // const listModuleByMatpel = await app.$axios.get(`paket-soal-trial?kelas=${data.kelas}&mata_pelajaran=${data.matpel}`)
      // await store.commit('belajar_gratis/setMatpel', listModuleByMatpel.data.data)

    },
    data: () => ({
      listResGroupedModule: [],
      listResGroupedModuleLeft: [],
      listResGroupedModuleRight: [],
      toggleText: false,
      breadcrumbs: [
        {
          url: process.env.BASE_URL,
          text: 'Belajar Gratis Online dengan Aplikasi Edutore by Gramedia',
        },
        {
          url: 'https://example.com/foo',
          text: 'foo',
        },
        // {
        //   url: 'https://example.com/foo/bar',
        //   text: 'bar',
        // },
      ],
    }),
    jsonld() {
      this.breadcrumbs[1].url = process.env.BASE_URL+'/'+this.$route.params.matpel_kelas
      this.breadcrumbs[1].text = `Download Soal ${this.parseMatpel} gratis dari Edutore By Gramedia. semua contoh soal ${this.$store.state.belajar_gratis.routeParams.matpel.toLowerCase()} dilengkapi dengan pembahasan.`
      // console.log(this.breadcrumbs)
      const items = this.breadcrumbs.map((item, index) => ({
        '@type': 'ListItem',
        position: index + 1,
        item: {
          '@id': item.url,
          name: item.text,
        },
      }));
      return [
        {
        '@context': 'http://schema.org',
        '@type': 'BreadcrumbList',
        itemListElement: items,
        },
        {
          "@context" : "http://schema.org",
          "@type" : "Organization",
          "name" : "Edutore",
          "url" : process.env.BASE_URL,
          "sameAs" : [
            "https://web.facebook.com/edutorecom",
            "https://twitter.com/edutorecom",
            "https://www.instagram.com/edutorecom",
            "https://www.youtube.com/channel/UCKHHM8nVVgOAUovFP8vZ0xA",
          ],
          "logo": "https://news.edutore.com/wp-content/uploads/2019/10/logo-edutore-HiRes.png"
        }
      ];
    },
    created(){
      // console.log(this.$store.state.belajar_gratis.routeParams)
      this.setMatPel()
    },
    computed: {
      parseMatpel(){

        // console.log(changeCase.capitalCase(this.$store.state.belajar_gratis.routeParams.matpel))
        // console.log(this.$store.state.belajar_gratis)
        return `${changeCase.capitalCase(this.$store.state.belajar_gratis.routeParams.matpel)} ${this.$store.state.belajar_gratis.routeParams.kelas_name.toUpperCase().replace(' ', '/')} kelas ${this.$store.state.belajar_gratis.routeParams.kelas}`
      },
    },
    methods: {
      // parseMatpel(){
      //   // console.log(changeCase.capitalCase(this.$store.state.belajar_gratis.routeParams.matpel))
      //   // console.log(this.$store.state.belajar_gratis)
      //   return changeCase.capitalCase(`${this.$store.state.belajar_gratis.routeParams.matpel} ${this.$store.state.belajar_gratis.routeParams.kelas_name} kelas ${this.$store.state.belajar_gratis.routeParams.kelas}`)
      // },
      async goToTrialTest(paketSoal) {
        console.log(paketSoal)
        try {
          let data = {
            id_tema: paketSoal.theme_id,
            nama_tema: paketSoal.theme_name,
            id_module: paketSoal.module_id,
            nama_module: paketSoal.module_name,
            module_slug: paketSoal.module_slug,
            paket_soal_id: paketSoal.paket_id,
            paket_soal_name: paketSoal.nama_paket_soal,
            kelas: paketSoal.kelas,
            type_test: 'trial',
          }
          // console.log(data)
          // await this.$store.commit('exam/setCacheSessionModuleUser', data)
          // this.$router.go(`https://edutore.com/modules/${paketSoal.module_id}/${paketSoal.theme_id}/?ps_id=${paketSoal.paket_id}`)
          window.open(`${process.env.TEST_URL}/modules/${paketSoal.module_id}/${paketSoal.theme_id}/?ps_id=${paketSoal.paket_id}&type=trial&ms=${data.module_slug}`, '_blank')
        } catch (ex) {
          console.log('error ' + ex)
        }
        // console.log(paketSoal)

      },
      goToModules(){
        this.$router.push('/modules/kejar-skor-toefl-600-pasti-bisa?type=0')
      },
      toogleText(){
        if(this.toggleText){
          this.toggleText = false
        }else {
          this.toggleText = true
        }
      },
      setMatPel(){
        let matpelList = this.$store.state.belajar_gratis.matpel
        const grouped = this.groupBy(matpelList, list => list.module_id)
        let distinceModule = Object.values(matpelList.reduce((acc,cur)=>Object.assign(acc,{[cur.module_id]:cur}),{}))
        distinceModule.forEach((element) => {
          let data = {
            module_id: element.module_id,
            data: grouped.get(element.module_id)
          }
          this.listResGroupedModule.push(data)
        })
        let half_length = Math.ceil(this.listResGroupedModule.length / 2);
        this.listResGroupedModuleLeft = this.listResGroupedModule.splice(0,half_length);
        this.listResGroupedModuleRight = this.listResGroupedModule.splice(0,half_length);
        // console.log(this.listResGroupedModule)
      },
    },
  }
</script>

<style scoped>
  .toggle-text-button2 {
    color: #557cbf !important;
    cursor: pointer;
  }
</style>
