<template>
    <div v-if="l" ref="bgl">
      <belajar-gratis-nav/>
      <nuxt/>
      <belajar-gratis-nav-footer/>
      <belajar-gratis-footer/>
    </div>
</template>

<script>
import belajarGratisNav from '~/components/nav.vue'
import belajarGratisFooter from '~/components/footer-1.vue'
import belajarGratisNavFooter from '~/components/nav-footer.vue'
import eduLoader from '~/components/loader/loader-belajar-gratis.vue'

export default {
  data: () => ({
    rLoader: null,
    l: null
  }),
  components: {
    belajarGratisNav,
    belajarGratisFooter,
    belajarGratisNavFooter
  },
  methods: {
  },
  created() {
    if (process.client){
      this.rLoader = this.$loading.show({
          // Optional parameters
          container: this.$refs.bgl,
          // container: this.$refs.demo,
          canCancel: false,
          onCancel: this.onCancel,
          transition: 'fade',
          // isFullPage: false,
          opacity: 1,
          backgroundColor: '#FAFBFC'
        },{
          // Pass slots by their names
          default: this.$createElement(eduLoader),
        }
      );
      setTimeout(() => {
        this.l = true
        this.rLoader.hide()
      }, 3000)
    }
  }
}
</script>
