<template>
  <div>
    <section class="section-1">
      <div class="container-fluid">
        <div class="row mb-4 mx-4">
          <div class="sub-breadcrumb col-12">
            <p class="text-grey">Belajar Gratis</p>
          </div>
        </div>
        <div class="row mx-4">
          <div class="title-1 col-12 col-sm-12 ">
            <h1 class="belajar-gratis-h1">Belajar Gratis dari Edutore by Gramedia </h1>
            <hr />
          </div>
        </div>
        <div class="row mx-4">
          <div class="content-left col-12 col-sm-12 col-md-9 col-lg-9">
            <p>
              Edutore.com membantu kamu dalam belajar dengan mencoba modul materi berbagai mata pelajaran. Dengan adanya
              edutore, buku soal yang selama ini diakses secara fisik, kini dapat diakses juga dengan web dan
              aplikasi sehingga belajar dapat dilakukan di mana saja dan kapan saja. Konten-konten di dalamnya diambil
              dari buku-buku pilihan para penerbit unggulan di Indonesia. Yuk pilih modul dibawah ini dan mulai belajar di
              Edutore!
            </p>
            <h2>Download Soal Secara Gratis di Edutore</h2>
            <ul>
              <li><strong>Download aplikasi edutore:</strong> Klik tombol download sekarang untuk mendapatkan aplikasi edutore.</li>
              <li><strong>Daftarkan Diri:</strong> Daftarkan dirimu untuk dapat mengakses lebih banyak soal gratis.</li>
            </ul>
            <p v-if="!toggleText" @click="toogleText" class="toggle-text-button2">Selengkapnya...</p>
            <client-only>
              <fade-transition :duration="500">
                <div v-show="toggleText" class="text-black">
                  <ul>
                    <li><b>Verifikasi dan Login:</b> Setelah mendaftar, silahkan verifikasikan diri kamu dan login di aplikasi edutore.</li>
                    <li><b>Pilih Jenjang pendidikan:</b> Pilih jenjang pendidikan mulai dari SD, SMP, SMA, SBMPTN, dan umum.</li>
                    <li><b>Pilih Mata Pelajaran:</b> Pilih mata pelajaran yang kamu inginkan.</li>
                    <li><b>Pilih Modul:</b> Pilih koleksi modul di edutore dari berbagai penerbit unggulan Indonesia.</li>
                    <li><strong>Pilih Paket: </strong>Didalam modul yang dipilih, terdapat paket-paket soal. Pilih salah satu paket yang ingin dipelajari.</li>
                    <li><strong>Kerjakan Soal:</strong> Didalam paket tersebut, kamu akan diberikan soal-soal yang terkait dengan paket soal yang kamu pilih.</li>
                    <li><strong>Penjelasan Soal: </strong>Semua soal di dalam galeri tes edutore terdapat penjelasan yang mudah dan komprehensif dari para penulis buku unggulan..</li>
                  </ul>
                  <h2 class="">Edutore Cocok Untuk</h2>
                  <ul class="">
                    <li>Siswa yang sedang mencari materi pelajaran
                    <li>Siswa yang ingin belajar tambahan
                    <li>Guru yang mencari materi pelajaran</li>
                  </ul>
                  <h2 class="">Mengapa Memilih Edutore</h2>
                  <ul class="">
                    <li><strong>Belajar secara mandiri:</strong> dengan adanya edutore, kamu bisa belajar sesuai dengan waktumu.
                      Kamu dapat belajar setiap hari, seminggu dua kali, atau kapanpun kamu mau.</li>
                    <li><strong>Bebas Mengulang Pelajaran:</strong> Kamu bisa mengulang materi dan pelajaran yang tidak kamu
                      pahami berulang-ulang kali hingga kamu paham.</li>
                    <li><strong>Penilaian Instant:</strong> Fitur penilaian instant dapat digunakan sebagai tolak ukur seberapa
                      kemampuanmu.</li>
                    <li><strong>Akses Tanpa Batas:</strong> Dengan berlangganan di edutore, kamu dapat mengakses banyak buku. Tidak hanya itu, kamu juga mendapatkan akses ke semua mata
                      pelajaran mulai dari SD, SMP, SMA, SBMPTN, dan umum lainnya. Dengan begitu kamu bisa meraih nilai tertinggi.</li>
                  </ul>
                </div>
              </fade-transition>
            </client-only>
          </div>
          <div class="content-right text-center col-12 col-sm-12 col-md-3 col-lg-3">
            <h2>Raih Nilai Tertinggi</h2>
            <p>Akses buku dari para penerbit unggulan Indonesia!</p>
            <a href="https://play.google.com/store/apps/details?id=com.edutore02" class="btn" target="_blank" rel="nofollow">Download Sekarang</a>
          </div>
        </div>
      </div>
    </section>

    <section class="section-2">
      <div class="container-fluid">
        <div class="row mx-4">
          <!-- <div class="filter col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <h5 class="text-divider"><span class="line">Filter</span></h5>
                <form class="form-inline my-2 justify-content-center">
                  <input class="form-control text-center" type="search" placeholder="Search" aria-label="Search">
                </form>
              </div> -->
          <!--          COLUMN 1-->
          <div class="col-xs- 12 col-sm-12 col-md-6 col-lg-6">
            <div class="accordion" id="accordionExamplext">

              <div v-for="(lstKelas, index) in leftSideKelas" :key="index" class="single-accordion">
                <div class="accordion-header" id="headingOne">
                  <p>
                    <button @click="getSetMatkul(lstKelas.name)" type="button" data-toggle="collapse" :data-target="'#collapseOne'+index" aria-expanded="true" :aria-controls="'collapseOne'+index">
                  <p class="mb-0 pointer">{{lstKelas.education.education_name === 'SMA/SEDERAJAT' ? 'SMA/MA' : lstKelas.education.education_name}} Kelas {{lstKelas.name}}</p>
                  </button>
                  </p>
                </div>
                <div :id="'collapseOne'+index" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExamplext">
                  <div class="accordion-body">
                    <div class="content-collapse">
                      <ul>
                        <!--                        <p v-if="">Maaf, Belum ada soal gratis di paket ini</p>-->
                        <!--                        <li v-for="(listModule, index) in getModuleByKelas(lstKelas.name)" :key="index">{{listModule.mata_pelajaran}} - {{listModule.nama_paket_soal}}</li>-->
                        <!--                        <li v-for="(listModule, index) in removeDuplicateArray(listKelasWithMatPel.filter(x => x.kelas === lstKelas.name))" :key="index">{{listModule.mata_pelajaran}}</li>-->
                        <div v-for="(listMatpel, index) in $store.state.belajar_gratis.setListMatPel.filter(x => x.kelas === lstKelas.name)" :key="index">
                          <li v-for="(listMatPel2, index) in listMatpel.matkul"><a @click="goToKelas(lstKelas.education.education_name, lstKelas.name, listMatPel2.mata_pelajaran)" href="javascript:void(0)">{{listMatPel2.mata_pelajaran}}</a></li>
                          <!--                          <li v-for="(listMatPel2, index) in listMatpel.matkul"><nuxt-link @click="goToKelas(lstKelas.education.education_name, lstKelas.name, listMatPel2.mata_pelajaran)" :to="javascript:void(0)">{{listMatPel2.mata_pelajaran}}</nuxt-link></li>-->
                        </div>
                        <!--                        <li>Bahasa Inggris</li>-->
                        <!--                        <li>Agama</li>-->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--COLUMN 2-->
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="accordion" id="accordionExampling">
              <div v-for="(lstKelas, index) in rightSideKelas" :key="index" class="single-accordion">
                <div class="accordion-header" id="headingEightx">
                  <p>
                    <button @click="getSetMatkul(lstKelas.name)" type="button" data-toggle="collapse" :data-target="'#collapseEightx'+index" aria-expanded="true"
                            aria-controls="collapseEight">
                      <!--                      <a @click="goToKelas(lstKelas.education.education_name, lstKelas.name)" href="javascript:void(0)">{{lstKelas.education.education_name}} Kelas {{lstKelas.name}}</a>-->
                  <p class="mb-0 pointer">{{lstKelas.education.education_name === 'SMA/SEDERAJAT' ? 'SMA/MA' : lstKelas.education.education_name}} Kelas {{lstKelas.name}}</p>
                  </button>
                  </p>
                </div>
                <div :id="'collapseEightx'+index" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExampling">
                  <div class="accordion-body">
                    <div class="content-collapse">
                      <ul>
                        <div v-for="(listMatpel, index) in $store.state.belajar_gratis.setListMatPel.filter(x => x.kelas === lstKelas.name)" :key="index">
                          <li v-for="(listMatPel2, index) in listMatpel.matkul"><a @click="goToKelas(lstKelas.education.education_name, lstKelas.name, listMatPel2.mata_pelajaran)" href="javascript:void(0)">{{listMatPel2.mata_pelajaran}}</a></li>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!--              <div class="single-accordion">-->
              <!--                <div class="accordion-header" id="headingNinex">-->
              <!--                  <p>-->
              <!--                    <button type="button" data-toggle="collapse" data-target="#collapseNinex" aria-expanded="true" aria-controls="collapseNine">-->
              <!--                      <a href="#">SMP Kelas 8</a>-->
              <!--                    </button>-->
              <!--                  </p>-->
              <!--                </div>-->
              <!--                <div id="collapseNinex" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">-->
              <!--                  <div class="accordion-body">-->
              <!--                    <div class="content-collapse">-->
              <!--                      <ul>-->
              <!--                        <li>Bahasa Inggris</li>-->
              <!--                        <li>Bahasa Indonesia</li>-->
              <!--                        <li>Fisika</li>-->
              <!--                        <li>Kimia</li>-->
              <!--                        <li>Matematika</li>-->
              <!--                        <li>Ekonomi</li>-->
              <!--                      </ul>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->

              <!--              <div class="single-accordion">-->
              <!--                <div class="accordion-header" id="headingTenx">-->
              <!--                  <p>-->
              <!--                    <button type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true"-->
              <!--                            aria-controls="collapseTen">-->
              <!--                      <a href="#">SMP Kelas 9</a>-->
              <!--                    </button>-->
              <!--                  </p>-->
              <!--                </div>-->
              <!--                <div id="collapseTenx" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">-->
              <!--                  <div class="accordion-body">-->
              <!--                    <div class="content-collapse">-->
              <!--                      <ul>-->
              <!--                        <li>Bahasa Inggris</li>-->
              <!--                        <li>Bahasa Indonesia</li>-->
              <!--                        <li>Fisika</li>-->
              <!--                        <li>Kimia</li>-->
              <!--                        <li>Matematika</li>-->
              <!--                        <li>Ekonomi</li>-->
              <!--                      </ul>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->

              <!--              <div class="single-accordion">-->
              <!--                <div class="accordion-header" id="headingEleven">-->
              <!--                  <p>-->
              <!--                    <button type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true"-->
              <!--                            aria-controls="collapseEleven">-->
              <!--                      <a href="#">SMA Kelas 10</a>-->
              <!--                    </button>-->
              <!--                  </p>-->
              <!--                </div>-->
              <!--                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">-->
              <!--                  <div class="accordion-body">-->
              <!--                    <div class="content-collapse">-->
              <!--                      <ul>-->
              <!--                        <li>Bahasa Inggris</li>-->
              <!--                        <li>Bahasa Indonesia</li>-->
              <!--                        <li>Fisika</li>-->
              <!--                        <li>Kimia</li>-->
              <!--                        <li>Matematika</li>-->
              <!--                        <li>Ekonomi</li>-->
              <!--                        <li>Sosiologi</li>-->
              <!--                        <li>Anthropologi</li>-->
              <!--                      </ul>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->

              <!--              <div class="single-accordion">-->
              <!--                <div class="accordion-header" id="headingTwelve">-->
              <!--                  <p>-->
              <!--                    <button type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true"-->
              <!--                            aria-controls="collapseTwelve">-->
              <!--                      <a href="#">SMA Kelas 11</a>-->
              <!--                    </button>-->
              <!--                  </p>-->
              <!--                </div>-->
              <!--                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">-->
              <!--                  <div class="accordion-body">-->
              <!--                    <div class="content-collapse">-->
              <!--                      <ul>-->
              <!--                        <li>Bahasa Inggris</li>-->
              <!--                        <li>Bahasa Indonesia</li>-->
              <!--                        <li>Fisika</li>-->
              <!--                        <li>Kimia</li>-->
              <!--                        <li>Matematika</li>-->
              <!--                        <li>Ekonomi</li>-->
              <!--                        <li>Sosiologi</li>-->
              <!--                        <li>Anthropologi</li>-->
              <!--                      </ul>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->

              <!--              <div class="single-accordion">-->
              <!--                <div class="accordion-header" id="headingThirteen">-->
              <!--                  <p>-->
              <!--                    <button type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="true"-->
              <!--                            aria-controls="collapseThirteen">-->
              <!--                      <a href="#">SMA Kelas 12</a>-->
              <!--                    </button>-->
              <!--                  </p>-->
              <!--                </div>-->
              <!--                <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen"-->
              <!--                     data-parent="#accordionExample">-->
              <!--                  <div class="accordion-body">-->
              <!--                    <div class="content-collapse">-->
              <!--                      <ul>-->
              <!--                        <li>Bahasa Inggris</li>-->
              <!--                        <li>Bahasa Indonesia</li>-->
              <!--                        <li>Fisika</li>-->
              <!--                        <li>Kimia</li>-->
              <!--                        <li>Matematika</li>-->
              <!--                        <li>Ekonomi</li>-->
              <!--                        <li>Sosiologi</li>-->
              <!--                        <li>Anthropologi</li>-->
              <!--                      </ul>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->

              <!--              <div class="single-accordion">-->
              <!--                <div class="accordion-header" id="headingFourteen">-->
              <!--                  <p>-->
              <!--                    <button type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="true"-->
              <!--                            aria-controls="collapseFourteen">-->
              <!--                      <a href="#">SBMPTN Saintek</a>-->
              <!--                    </button>-->
              <!--                  </p>-->
              <!--                </div>-->
              <!--                <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen"-->
              <!--                     data-parent="#accordionExample">-->
              <!--                  <div class="accordion-body">-->
              <!--                    <div class="content-collapse">-->
              <!--                      <ul>-->
              <!--                        <li>Matematika</li>-->
              <!--                        <li>Bahasa Inggris</li>-->
              <!--                        <li>Tes Potensi Akademik</li>-->
              <!--                        <li>Tes Potensi</li>-->
              <!--                      </ul>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->
              <!--              <div class="single-accordion">-->
              <!--                <div class="accordion-header" id="headingFiveteen">-->
              <!--                  <p>-->
              <!--                    <button type="button" data-toggle="collapse" data-target="#collapseFiveteen" aria-expanded="true"-->
              <!--                            aria-controls="collapseFiveteen">-->
              <!--                      <a href="#">SBMPTN Soshum</a>-->
              <!--                    </button>-->
              <!--                  </p>-->
              <!--                </div>-->
              <!--                <div id="collapseFiveteen" class="collapse" aria-labelledby="headingFiveteen"-->
              <!--                     data-parent="#accordionExample">-->
              <!--                  <div class="accordion-body">-->
              <!--                    <div class="content-collapse">-->
              <!--                      <ul>-->
              <!--                        <li>Matematika</li>-->
              <!--                        <li>Bahasa Inggris</li>-->
              <!--                        <li>Tes Potensi Akademik</li>-->
              <!--                        <li>Tes Potensi</li>-->
              <!--                      </ul>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-3">
      <div class="container-fluid">
        <div class="row mx-4">
          <div class="col-12 wrapper text-center">
            <h2>Dengan Edutore Belajar Jadi Lebih Menyenangkan</h2>
            <p>Akses buku dari para penerbit unggulan Indonesia!</p>
            <a href="https://play.google.com/store/apps/details?id=com.edutore02" target="_blank" rel="nofollow" class="btn">
              Download Sekarang
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="section-4">
      <div class="container-fluid">
        <div class="row mx-4 mb-5">
          <div class="divider-between col-12">
            <h4 class="text-divider"><span class="line">Jelajahi Galeri Materi Dari Edutore
            </span></h4>
          </div>
        </div>
      </div>
    </section>

  </div>
</template>

<script>
  require('~/plugins/jquery');
  const slugify = require('slugify')
  import { mapState } from 'vuex'

  export default {
    layout: 'belajar-gratis-layout',
    middleware: 'router-auth',
    head () {
      return {
        titleTemplate: 'Belajar Gratis Online dengan Aplikasi Edutore by Gramedia',
        meta: [
          { hid: 'description', name: 'description', content: 'Coba modul belajar gratis online dengan aplikasi Edutore by Gramedia. Ada soal SD,SMP,SMA,SBMPTN,CPNS hingga belajar TOEFL online gratis.' }
        ],
        link: [
          { rel: 'stylesheet', href: 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type: 'text/css'},
          // { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Raleway:400,500,600,700' },
          // { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,800,900' },
          // { rel: 'stylesheet', href: '/lib/styles/main.css' },
          // { rel: 'stylesheet', href: '/lib/fontawesome/css/all.css' },
          // { rel: 'stylesheet', href: '/lib/chosen/chosen.min.css' },
          // { rel: 'stylesheet', href: '/lib/jquery-ui-custom/jquery-ui.min.css' },
          // { rel: 'stylesheet', href: '/lib/pentix/css/pentix.css' },
          // { rel: 'stylesheet', href: '/lib/css/pex-theme.css' }
          {
            rel: 'canonical',
            href: process.env.BASE_URL + this.$route.path
          }
        ],
        __dangerouslyDisableSanitizers: ['script'],
        script: [{ innerHTML: JSON.stringify(this.structuredData), type: 'application/ld+json' }]
      }
    },
    data: () => ({
      leftSideKelas: [],
      rightSideKelas: [],
      listCat: [],
      toggleText: false,
      isChangePage: false,
      breadcrumbs: [
        {
          url: process.env.BASE_URL,
          text: 'Belajar Gratis',
        },
        // {
        //   url: 'https://example.com/foo',
        //   text: 'foo',
        // },
        // {
        //   url: 'https://example.com/foo/bar',
        //   text: 'bar',
        // },
      ],
    }),
    jsonld() {
      const items = this.breadcrumbs.map((item, index) => ({
        '@type': 'ListItem',
        position: index + 1,
        item: {
          '@id': item.url,
          name: item.text,
        },
      }));
      return [{
        '@context': 'http://schema.org',
        '@type': 'BreadcrumbList',
        itemListElement: items,
      },
      {
        "@context" : "http://schema.org",
        "@type" : "Organization",
        "name" : "Edutore",
        "url" : process.env.BASE_URL,
        "sameAs" : [
          "https://web.facebook.com/edutorecom",
          "https://twitter.com/edutorecom",
          "https://www.instagram.com/edutorecom",
          "https://www.youtube.com/channel/UCKHHM8nVVgOAUovFP8vZ0xA",
        ],
        "logo": "https://news.edutore.com/wp-content/uploads/2019/10/logo-edutore-HiRes.png"
      }];
    },
    async asyncData(context){
      // context.store.commit('belajar_gratis/setCacheKelas', 'listKelas.data.data.rows')
      // const listPaketSoalTrial = await context.$axios.get('paket-soal-trial')
      // console.log(context.store.state.belajar_gratis.cacheKelas)
      // if (context.store.state.belajar_gratis.cacheKelas === null){
      //   const listKelas = await context.$axios.get('kelas')
      //   let half_length = Math.ceil(listKelas.data.data.rows.length / 2);
      //   let leftSideKelas = listKelas.data.data.rows.splice(0,half_length);
      //   let rightSideKelas = listKelas.data.data.rows.splice(0,half_length);
      //   return {
      //     // listPaketSoalTrial: listPaketSoalTrial.data.data,
      //     listKelas: listKelas.data.data.rows,
      //     leftSideKelas: leftSideKelas,
      //     rightSideKelas: rightSideKelas,
      //   }
      // }
      // console.log(listKelas.data.data.rows)
    },
    async fetch({store}){
      try {
        // if (store.state.belajar_gratis.cacheKelas.length === 0){
          await store.dispatch('belajar_gratis/setKelas', null)
          // const listKelas = await this.$axios.get('kelas')
          // // console.log(listKelas.data.data.rows[0])
          // let half_length = Math.ceil(listKelas.data.data.rows.length / 2);
          // let leftSideKelas = listKelas.data.data.rows.splice(0,half_length);
          // let rightSideKelas = listKelas.data.data.rows.splice(0,half_length);
          // this.$store.commit('belajar_gratis/setCacheKelas', listKelas.data.data.rows[0])
        // }
      }
      catch (ex){
        console.log('error '+ex)
      }
    },
    async created(){
      try {
        // console.log(this.breadcrumbs)
        this.leftSideKelas = this.cacheKelas.leftSideKelas
        this.rightSideKelas = this.cacheKelas.rightSideKelas
      }
      catch (ex){
        console.log('error '+ex)
      }
    },
    computed: {
      ...mapState('belajar_gratis', {
        cacheKelas: state => state.cacheKelas,
      }),
    },
    methods: {
      async getSetMatkul(kelas){
        // console.log(this.$store.state.belajar_gratis.setListMatPel.some(x => x.kelas === kelas))
        if (!this.$store.state.belajar_gratis.setListMatPel.some(x => x.kelas === kelas) && !this.isChangePage){
          const getPaketSoal = await this.$axios.get(`paket-soal-trial?kelas=${kelas}`)
          let data = {
            kelas: kelas,
            matkul: Object.values(getPaketSoal.data.data.reduce((acc,cur)=>Object.assign(acc,{[cur.mata_pelajaran]:cur}),{})),
          }
          await this.$store.commit('belajar_gratis/setListMatPel', data)
        }

        // console.log(Object.values(getPaketSoal.data.data.reduce((acc,cur)=>Object.assign(acc,{[cur.mata_pelajaran]:cur}),{})))

        // return ['AGAMA ISLAM', 'IPA', 'IPS']
      },
      toogleText(){
        this.toggleText = !this.toggleText;
        // console.log('test')
      },
      removeDuplicateArray(arr){
        // console.log(arr)
        return Object.values(arr[0].data.reduce((acc,cur)=>Object.assign(acc,{[cur.mata_pelajaran]:cur}),{}))
        // return arr
      },
      goToKelas(kelasName, kelas, matpel){
        this.$store.commit('belajar_gratis/setRouteParams', {kelas: kelas, matpel: matpel, kelas_name:kelasName})
        this.$nuxt.$router.push('/belajar-gratis/'+slugify(`${matpel} tingkat ${kelasName.replace('/', ' ')} Kelas ${kelas}`, {lower: true}))
        // console.log('/belajar-gratis/'+slugify(`${matpel} ${kelasName.replace('/', ' ')} Kelas ${kelas}`, {lower: true}))
      },
      getModuleByKelas(kelas){
        const grouped = this.groupBy(this.listPaketSoalTrial, list => list.kelas)
        // console.log(grouped.get(kelas))
        return grouped.get(kelas)
      }
    },
  }
</script>

<style scoped>
  .toggle-text-button2 {
    color: #557cbf !important;
    cursor: pointer;
  }
  .pointer{
    cursor: pointer;
  }
  .p-mb-0{

  }
</style>
