<template>
  <div>
    <h1> IM LOADER</h1>
    <edu-loader/>
  </div>
</template>

<script>
  import eduLoader from '~/components/loader/loader-belajar-gratis.vue'
  export default {
    components: {
      eduLoader
    }
  }
</script>

<style scoped>

</style>
